.vs/
bin/
bin-int/
*.pch
*.ipch
*.suo
*.sdf
*.opendb                                                                                                                                                               